﻿@using Domain.Survey.Question
@model Domain.Survey.Survey

<h1>Checklist</h1>
<div id="surveyId" hidden>@Model.Id</div>
@foreach (SurveyQuestion item in Model.SurveyEntries)
{
    bool empty = item.Answer == null;
    <div id="@Model.Id" class="row form">
        <label for="@item.Id">@item.Question.QuestionText: </label>
        <a href="#" id="@item.Id" class="question" data-pk="@item.Id" data-title="@item.Question.QuestionText">@(empty ? "Empty" : item.Answer)</a>
    </div>
}

@*<form asp-controller="Home" asp-action="Index" method="post">
    <partial model="@Model" name="_InfoPartial"/>
    <br/>
    <partial model="@Model" name="_IncidentPartial"/>
    <br/>
    <partial model="@Model" name="_AircraftMakePartial"/>
</form>*@