﻿@* ﻿@model Checklist *@
@* *@
@* <h3>Aircraft Make</h3> *@
@* <div class="container border"> *@
@*     <div class="row"> *@
@*         <div class="col no-gutters"> *@
@*             <label for="AircraftType">Aircraft Type</label> *@
@*             <input id="AircraftType" asp-for="Type" class="form-control" type="text"/> *@
@*             <span asp-validation-for="Type" class="text-danger"></span> *@
@*         </div> *@
@* *@
@*         <div class="col"> *@
@*             <label for="Imm">Imm</label> *@
@*             <input id="Imm" asp-for="Imm" class="form-control" type="text"> *@
@*             <span asp-validation-for="Imm" class="text-danger"></span> *@
@*         </div> *@
@* *@
@*         <div class="col"> *@
@*             <label for="SN">Y.ref</label> *@
@*             <input id="SN" asp-for="SN" class="form-control" type="text"> *@
@*             <span asp-validation-for="SN" class="text-danger"></span> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <partial model="@Model" name="PersonPartial/_AircraftOwnerPartial"/> *@
@*     <partial model="@Model" name="PersonPartial/_AircraftPilotPartial"/> *@
@*     <partial model="@Model" name="PersonPartial/_AircraftWorkshopContactPartial"/> *@
@* </div> *@