﻿
@*
@model Checklist

<h3>Incident</h3>
<div class="container border">
    <div class="row">
        <div class="col">
            <label for="DateOfIncident">Date</label>
            <input id="DateOfIncident" asp-for="DateOfIncident" class="form-control" type="date">
            <span asp-validation-for="DateOfIncident" class="text-danger"></span>
        </div>

        <div class="col">
            <label for="InsuredAmount">Insured Amount</label>
            <input id="InsuredAmount" asp-for="InsuredAmount" class="form-control" type="number">
            <span asp-validation-for="InsuredAmount" class="text-danger"></span>
        </div>

        <div class="col">
            <label for="Deductable">Deductable Amount</label>
            <input id="Deductable" asp-for="DeductableAmount" class="form-control" type="number">
            <span asp-validation-for="DeductableAmount" class="text-danger"></span>
        </div>
    </div>
    <div class="row no-gutters">
        <label for="IncidentRemarks">Remarks</label>
        <textarea id="IncidentRemarks" asp-for="IncidentRemarks" class="form-control" type="text"></textarea>
        <span asp-validation-for="IncidentRemarks" class="text-danger"></span>
    </div>
</div>*@