﻿@* @model Checklist *@
@* *@
@* <h3>Info</h3> *@
@* <div class="container border"> *@
@*     <div class="row border"> *@
@*         <div class="col no-gutters"> *@
@*             <label for="DateOfCreation">Date</label> *@
@*             <input id="DateOfCreation" asp-for="DateOfChecklistCreation" class="form-control" type="date" disabled/> *@
@*             <span asp-validation-for="DateOfChecklistCreation" class="text-danger"></span> *@
@*         </div> *@
@* *@
@*         <div class="col"> *@
@*             <label for="InsuranceCo">Insurance Co</label> *@
@*             <input id="InsuranceCo" asp-for="InsuranceCo" class="form-control" type="text"> *@
@*             <span asp-validation-for="InsuranceCo" class="text-danger"></span> *@
@*         </div> *@
@* *@
@*         <div class="col"> *@
@*             <label for="YRef">Y.ref</label> *@
@*             <input id="YRef" asp-for="YRef" class="form-control" type="text"> *@
@*             <span asp-validation-for="YRef" class="text-danger"></span> *@
@*         </div> *@
@* *@
@*         <div class="col"> *@
@*             <label for="ORef">O.Ref</label> *@
@*             <input id="ORef" asp-for="ORef" class="form-control" type="text"> *@
@*             <span asp-validation-for="ORef" class="text-danger"></span> *@
@*         </div> *@
@* *@
@*     </div> *@
@* </div> *@