﻿@* @model Checklist *@
@* *@
@* <div class="row border"> *@
@*     <div class="col no-gutters"> *@
@*         <label for="PilotName">Pilot</label> *@
@*         <input id="PilotName" asp-for="Pilot.Name" class="form-control" type="text"/> *@
@*         <span asp-validation-for="Pilot.Name" class="text-danger"></span> *@
@*     </div> *@
@* *@
@*     <div class="col"> *@
@*         <label for="PilotTel">Tel</label> *@
@*         <input id="PilotTel" asp-for="Pilot.Phone" class="form-control" type="text"> *@
@*         <span asp-validation-for="Pilot.Phone" class="text-danger"></span> *@
@*     </div> *@
@* *@
@*     <div class="col"> *@
@*         <label for="PilotEmail">Email</label> *@
@*         <input id="PilotEmail" asp-for="Pilot.Email" class="form-control" type="text"> *@
@*         <span asp-validation-for="Pilot.Email" class="text-danger"></span> *@
@*     </div> *@
@* </div> *@