﻿@* @model Checklist *@
@* *@
@* <div class="row border"> *@
@*     <div class="col no-gutters"> *@
@*         <label for="WorkshopContactName">Workshop Contact</label> *@
@*         <input id="WorkshopContactName" asp-for="WorkshopContact.Name" class="form-control" type="text"/> *@
@*         <span asp-validation-for="WorkshopContact.Name" class="text-danger"></span> *@
@*     </div> *@
@* *@
@*     <div class="col"> *@
@*         <label for="WorkshopContactTel">Tel</label> *@
@*         <input id="WorkshopContactTel" asp-for="WorkshopContact.Phone" class="form-control" type="text"> *@
@*         <span asp-validation-for="WorkshopContact.Phone" class="text-danger"></span> *@
@*     </div> *@
@* *@
@*     <div class="col"> *@
@*         <label for="WorkshopContactEmail">Email</label> *@
@*         <input id="WorkshopContactEmail" asp-for="WorkshopContact.Email" class="form-control" type="text"> *@
@*         <span asp-validation-for="WorkshopContact.Email" class="text-danger"></span> *@
@*     </div> *@
@* </div> *@