﻿@* @model Checklist *@
@* *@
@* <div class="border"> *@
@*     <div class="row"> *@
@*         <div class="col no-gutters"> *@
@*             <label for="OwnerName">Owner</label> *@
@*             <input id="OwnerName" asp-for="Owner.Name" class="form-control" type="text"/> *@
@*             <span asp-validation-for="Owner.Name" class="text-danger"></span> *@
@*         </div> *@
@* *@
@*         <div class="col"> *@
@*             <label for="OwnerTel">Tel</label> *@
@*             <input id="OwnerTel" asp-for="Owner.Phone" class="form-control" type="text"> *@
@*             <span asp-validation-for="Owner.Phone" class="text-danger"></span> *@
@*         </div> *@
@* *@
@*         <div class="col"> *@
@*             <label for="OwnerEmail">Email</label> *@
@*             <input id="OwnerEmail" asp-for="Owner.Email" class="form-control" type="text"> *@
@*             <span asp-validation-for="Owner.Email" class="text-danger"></span> *@
@*         </div> *@
@*     </div> *@
@*     <div class="row"> *@
@*         <div class="col-4"> *@
@*             <label for="VATDeductable">VAT Deductable</label> *@
@*             <input id="VATDeductable" asp-for="Owner.VATDeductable" class="form-control" type="text"> *@
@*             <span asp-validation-for="Owner.VATDeductable" class="text-danger"></span> *@
@*         </div> *@
@*     </div> *@
@* </div> *@